@for(item of menuList; track item.id){ @if(item.idMenuParent === 0 &&
!hasChildren(item)){
<li>
  <label for="my-drawer-3" aria-label="close sidebar">
    <a>
      <span class="material-icons">{{ item.icon }}</span>
      {{ item.title }}</a
    >
  </label>
</li>
} @if(item.idMenuParent === 0 && hasChildren(item)){
<li>
  <details>
    <summary>
      <span class="material-icons">{{ item.icon }}</span>
      {{ item.title }}
    </summary>
    <ul>
      @for(childItem of menuList; track childItem.id){
      @if(childItem.idMenuParent === item.id){
      <li [routerLink]="childItem.url">
        <label for="my-drawer-3" aria-label="close sidebar">
          <a>{{ childItem.title }}</a>
        </label>
      </li>
      } }
    </ul>
  </details>
</li>
} }
