<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar bg-base-300 w-full">
      <div class="">
        <label
          for="my-drawer-3"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <span class="material-icons"> menu </span>
        </label>
      </div>
      <div class="mx-2 flex-1 px-2">RHDashboard</div>
      <div class="navbar-end gap-2">
        <!-- Botão para trocar de tema -->
        <label class="toggle text-base-content">
          <input type="checkbox" value="bumblebee" class="theme-controller" />
          <svg
            aria-label="moon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              stroke="currentColor"
            >
              <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
            </g>
          </svg>

          <svg
            aria-label="sun"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M12 2v2"></path>
              <path d="M12 20v2"></path>
              <path d="m4.93 4.93 1.41 1.41"></path>
              <path d="m17.66 17.66 1.41 1.41"></path>
              <path d="M2 12h2"></path>
              <path d="M20 12h2"></path>
              <path d="m6.34 17.66-1.41 1.41"></path>
              <path d="m19.07 4.93-1.41 1.41"></path>
            </g>
          </svg>
        </label>
        <!-- Botão notificações -->
        <div class="dropdown dropdown-end">
          <button class="btn btn-ghost btn-circle">
            <div class="indicator">
              <span class="material-icons">notifications</span>
              <span class="badge badge-xs badge-primary indicator-item"></span>
            </div>
          </button>
          <div
            tabindex="0"
            class="card card-compact dropdown-content bg-base-300 z-1 mt-3 w-52 shadow"
          >
            <div class="card-body">
              <span class="text-lg font-bold">Notificações</span>
              <span>Sem notificações</span>
              <!-- <div class="card-actions">
                <button class="btn btn-primary btn-block">Limpar tudo</button>
              </div> -->
            </div>
          </div>
        </div>
        <!-- Botão perfil -->
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
              />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-300 rounded-box z-1 mt-3 w-52 p-2 shadow"
          >
            <li>
              <a class="justify-between">
                Perfil
                <span class="badge">New</span>
              </a>
            </li>
            <li><a>Configurações</a></li>
            <li><a>Sair</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Page content here -->

    <router-outlet />
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-3"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <app-sidebar-menu></app-sidebar-menu>
    </ul>
  </div>
</div>
