<fieldset
  class="fieldset bg-base-200 border-base-300 rounded-box border p-4 m-5"
>
  <legend class="fieldset-legend text-lg">Busca</legend>
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-12 md:col-span-4">
      <label class="label">CPF</label>
      <input
        type="text"
        class="input w-full"
        placeholder="000.000.000-00"
        mask="000.000.000-00"
      />
    </div>
    <div class="col-span-12 md:col-span-4">
      <label class="label">Nome</label>
      <input
        type="text"
        class="input w-full"
        placeholder="Digite..."
        maxlength="50"
      />
    </div>
    <button class="btn btn-neutral self-end w-full col-span-12 md:col-span-2">
      Limpar
    </button>
    <button class="btn btn-primary self-end w-full col-span-12 md:col-span-2">
      Buscar
    </button>
  </div>
</fieldset>

<div class="overflow-x-auto m-5">
  <div class="flex justify-between mb-3">
    <h1 class="fieldset-legend text-lg ms-4">Funcionários</h1>
    <button class="btn btn-primary">Adicionar</button>
  </div>
  <table class="table bg-base-200">
    <!-- head -->
    <thead>
      <tr class="bg-base-300">
        <th>Nome</th>
        <th>CPF</th>
        <th>Cargo</th>
        <th>Setor</th>
        <th>Situação</th>
        <th class="text-center">Editar</th>
        <th class="text-center">Demitir</th>
      </tr>
    </thead>
    <tbody>
      @for(employee of employeesList; track employee.id){
      <tr>
        <th>{{ employee.name }}</th>
        <td>{{ employee.cpf | cpf }}</td>
        <td>{{ employee.position.description }}</td>
        <td>{{ employee.department.description }}</td>
        <td>{{ employee.active | status }}</td>
        <td class="text-center"><span class="material-icons">edit</span></td>
        <td class="text-center"><span class="material-icons">delete</span></td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="w-full flex justify-end">
  <div class="join mx-5 mb-5">
    <input
      class="join-item btn btn-square"
      type="radio"
      name="options"
      aria-label="1"
      checked="checked"
    />
    <input
      class="join-item btn btn-square"
      type="radio"
      name="options"
      aria-label="2"
    />
    <input
      class="join-item btn btn-square"
      type="radio"
      name="options"
      aria-label="3"
    />
    <input
      class="join-item btn btn-square"
      type="radio"
      name="options"
      aria-label="4"
    />
  </div>
</div>
