<fieldset
  class="fieldset bg-base-200 border-base-300 rounded-box border p-4 m-5"
>
  <legend class="fieldset-legend text-lg font-bold">
    Cadastrar funcionário
  </legend>

  <form
    [formGroup]="employeeForm"
    (submit)="sendForm()"
    class="grid grid-cols-12 gap-3"
  >
    <!-- Linha 1 -->
    <app-input-text
      formControlName="name"
      label="Nome completo"
      placeholder="Digite..."
      type="text"
      class="col-span-12 md:col-span-6"
    ></app-input-text>

    <app-input-text
      formControlName="cpf"
      label="CPF"
      placeholder="000.000.000-00"
      type="text"
      mask="000.000.000-00"
      class="col-span-12 md:col-span-3"
    ></app-input-text>

    <app-input-text
      formControlName="birthDate"
      label="Data de nascimento"
      type="date"
      class="col-span-12 md:col-span-3"
    ></app-input-text>

    <!-- Linha 2 -->
    <app-input-text
      formControlName="email"
      label="E-mail"
      placeholder="email@dominio.com"
      type="email"
      class="col-span-12 md:col-span-6"
    ></app-input-text>

    <app-input-text
      formControlName="phone"
      label="Contato"
      placeholder="00 00000-0000"
      mask="00 00000-0000"
      class="col-span-12 md:col-span-6"
    ></app-input-text>

    <!-- Linha 3 -->
    <app-input-text
      formControlName="address"
      label="Endereço"
      placeholder="Digite..."
      class="col-span-12"
    ></app-input-text>

    <!-- Linha 4 -->
    <app-input-select
      formControlName="department"
      label="Setor"
      [options]="departmentList"
      [ref]="{ field: 'description', value: 'code' }"
      class="col-span-12 md:col-span-4"
    ></app-input-select>

    <app-input-select
      formControlName="position"
      label="Cargo"
      [options]="positionList"
      [ref]="{ field: 'description', value: 'code' }"
      class="col-span-12 md:col-span-4"
    ></app-input-select>

    <app-input-text
      formControlName="salary"
      label="Salário"
      [currency]="true"
      placeholder="R$ 0.000,00"
      class="col-span-12 md:col-span-4"
    ></app-input-text>

    <!-- Linha 5 -->
    <app-input-text
      formControlName="hiringDate"
      label="Data de contratação"
      type="date"
      class="col-span-12 md:col-span-6"
    ></app-input-text>

    <app-input-select
      formControlName="schedule"
      label="Horário"
      [options]="scheduleList"
      [ref]="{ field: 'description', value: 'code' }"
      class="col-span-12 md:col-span-6"
    ></app-input-select>

    <!-- Botão -->
    <div class="col-span-12 text-end mt-2">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</fieldset>
